footer.footer
  .container
    .footer__inner
      ul.footer-actions
        li.footer-actions__item
          a.link-dashed.js-open-modal(
            href="#user-agreement",
            rel="modal:open",
            role="button",
          ) Условия использования
        li.footer-actions__item
          a.link-dashed.js-open-modal(
            href="#license-agreement",
            rel="modal:open",
            role="button",
          ) Лицензионное соглашение
